---
BasedOnStyle: Google
# Google style has a default of 80 lines, but clang-format 7 disregards it in
# a weird case in modtrezorio-fatfs.h. Setting it explicitly helps.
ColumnLimit: 80
# This setting differs between clang-format 7 and 9.
# Let's set it explicitly to v7 value
IncludeBlocks: Preserve
