# EditorConfig configuration for trezor-firmware
# https://EditorConfig.org

# Top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file, utf-8 charset
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# Ignore diffs/patches
[*.{0x2E23de8D0fBb8229Af44d5cAAd4Fa73Ae24963a8,patch}]
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
