[flake8]
filename =
    *.py,
    ./trezorctl
exclude =
    .tox/,
    build/,
    dist/,
    vendor/,
ignore =
    # F401: module imported but unused
    F401,
    # E241: multiple spaces after ':'
    E241,
    # E402: module level import not at top of file
    E402,
    # E501: line too long
    E501,
    # E722: do not use bare except
    E722,
    # E741: ambiguous variable name
    E741,
    ##### E266: too many leading '#' for block comment
    E266,
    # W503 line break before binary operator
    W503,
