[flake8]
filename =
    *.py,
    trezorctl
exclude =
    .tox/,
    build/,
    dist/,
    trezorlib/*_pb2.py
ignore =
    # F821 undefined name 'unicode',
    F821,
    # F841 local variable is assigned to but never used
    F841,
    # F401: module imported but unused
    F401,
    # E241: multiple spaces after ':'
    E241,
    # E402: module level import not at top of file
    E402,
    # E501: line too long
    E501,
    # E721: do not compare types, use 'isinstance()'
    E721
