.attic/
.cache/
.venv/
.idea/
.mypy_cache/
.pytest_cache/
.vscode/
__pycache__/
*.pyc
/build
proto.gv*
.DS_Store
crypto/tests/libtrezor-crypto.so.dSYM/
/west/.west/
/west/bootloader/
/west/modules/
/west/nrf/
/west/nrfxlib/
/west/test/
/west/tools/
/west/zephyr/
/west/trezor/build/
/west/trezor/trezor-ble/build/
