[submodule "trezor-crypto"]
	path = vendor/trezor-crypto
	url = https://github.com/trezor/trezor-crypto.git
[submodule "trezor-common"]
	path = vendor/trezor-common
	url = https://github.com/trezor/trezor-common.git
[submodule "libopencm3"]
	path = vendor/libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "vendor/nanopb"]
	path = vendor/nanopb
	url = https://github.com/nanopb/nanopb.git
[submodule "vendor/trezor-storage"]
	path = vendor/trezor-storage
	url = https://github.com/trezor/trezor-storage.git
[submodule "vendor/QR-Code-generator"]
	path = vendor/QR-Code-generator
	url = https://github.com/nayuki/QR-Code-generator.git
	ignore = untracked
