.project
.pydevproject
MANIFEST
build/
dist/
python_trezor.egg-info/
trezor.egg-info/
*.pyc
*.bin
*.py.cache
distribute-*.egg
distribute-*.tar.gz
docs/_build
docs/.docs-build-environment
.tox/
.cache/
.pytest_cache/
.mypy_cache/

.idea/
.vscode/

trezorlib/coins.json
