[submodule "vendor/trezor-crypto"]
	path = vendor/trezor-crypto
	url = https://github.com/trezor/trezor-crypto.git
[submodule "vendor/trezor-qrenc"]
	path = vendor/trezor-qrenc
	url = https://github.com/trezor/trezor-qrenc.git
[submodule "vendor/micropython"]
	path = vendor/micropython
	url = https://github.com/trezor/micropython.git
[submodule "vendor/trezor-common"]
	path = vendor/trezor-common
	url = https://github.com/trezor/trezor-common.git
[submodule "vendor/nanopb"]
	path = vendor/nanopb
	url = https://github.com/nanopb/nanopb.git
[submodule "vendor/trezor-storage"]
	path = vendor/trezor-storage
	url = https://github.com/trezor/trezor-storage.git
