/common/defs @matejcik

/common/protob @matejcik

/core/embed @prusnak

/core/src/apps/monero @onvej-sl

/core/src/apps/webauthn @andrewkozlik

/core/src/storage @andrewkozlik

/core/src/trezor @matejcik

/core/tests @matejcik

/core/tools @matejcik

/crypto @andrewkozlik @onvej-sl

/crypto/gui @prusnak

/crypto/monero @onvej-sl

/crypto/tools @prusnak

/legacy @prusnak

/python @matejcik

/storage @andrewkozlik

/tests @matejcik

/vendor @prusnak
