recursive-include bash_completion.d *.sh
include tools/*
recursive-include trezorlib *

recursive-include vendor/trezor-common *
exclude vendor/trezor-common/.*

include AUTHORS README.md COPYING CHANGELOG.md
include requirements*.txt
