[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[packages]
trezor = {git = "https://github.com/trezor/python-trezor", editable = true, ref = "master"}
protobuf = "==3.4.0"
pytest = "*"
mock = "*"
isort = "*"
flake8 = "*"
black = "*"

[pipenv]
allow_prereleases = true
