[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[packages]
# all
trezor = {editable = true,path = "./python"}
scons = "*"
protobuf = "==3.6.1"
pyblake2 = "*"

## test tools
pytest = "*"
mock = "*"
coverage = "==4.5.3"  # coverage 5+ uses binary format
flaky = ">=3.6.1"  # https://github.com/box/flaky/issues/156
pytest-ordering = "*"
pytest-random-order = "*"
tox = "*"

## test requirements
shamir-mnemonic = "*"
fido2 = "*"

## typing
mypy = "*"
typing-extensions = ">=3.7.4"

## style
isort = ">=4.3.14"
flake8 = ">=3.7.0"
black = "*"
mako = ">=1.0.7"
munch = ">=2.3.2"
autoflake = "*"

# common
demjson = "*"
graphviz = "*"  # TODO this was '8' do we need that?

## cointool
click = ">=6"
"ed25519" = ">=1.4"
requests = ">=2.19"
termcolor = ">=0.1.2"
Pillow = ">=5.2.0"

# crypto
ecdsa = ">=0.13.3"
curve25519-donna = "*"
pyasn1 = "*"

# legacy
setuptools = ">=24.2.0"
typing = "*"

# storage
cryptography = "*"
hypothesis = "==4.38.1"  # let's use this version because of the nixos pipenv/pip issue
attrs = "==18.2.0"  # let's use this version because of the nixos pipenv/pip issue

[dev-packages]
scan-build = "*"

[pipenv]
allow_prereleases = true