[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    from typing import
    if TYPE_CHECKING:
    # local const variables, e.g. _FIELD_TYPE_VL = const(7)
    ^_.*const\(\d+
    assert False
    pass
    raise RuntimeError
    raise NotImplementedError
    def mem_dump
    def __repr__(self)
