build/
build-docker/
.sconsign.dblite
compile_commands.json
emu.config
tests/trezor_monero_tests*
.coverage
.coverage.*
htmlcov/
mypy_report
/CMakeLists.txt
/cmake-build-debug/
/embed/ble_bootloader/jlink.jdebug.user
/embed/ble_firmware/jlink.jdebug.user
