[package]
name = "trezor_lib"
version = "0.1.0"
authors = ["SatoshiLabs <info@satoshilabs.com>"]
edition = "2018"
resolver = "2"
build = "build.rs"

[features]
bitcoin_only = []

[lib]
crate-type = ["staticlib"]

[profile.dev]
panic = "abort"
split-debuginfo = "unpacked"

[profile.release]
panic = "abort"
opt-level = "z"
lto = true
codegen-units = 1

[dependencies]
cty = "0.2.1"

[dependencies.cstr_core]
version = "0.2.2"
default_features = false

[build-dependencies]
bindgen = "0.58.0"
