[package]
name = "trezor_lib"
version = "0.1.0"
authors = ["SatoshiLabs <info@satoshilabs.com>"]
edition = "2018"
build = "build.rs"

[lib]
crate-type = ["staticlib"]

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
opt-level = "z"
lto = true
codegen-units = 1

[dependencies]
cty = "0.2.1"

[dependencies.staticvec]
version = "0.10.5"
default_features = false

[dependencies.cstr_core]
version = "0.2.2"
default_features = false

[build-dependencies]
bindgen = "0.57.0"