/*
 * This file is part of the Trezor project, https://trezor.io/
 *
 * Copyright (c) SatoshiLabs
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/ {
	chosen {
		trezor,trz-uart = &uart20;
	};

	spi_sync_in {
		compatible = "gpio-keys";
		spi_ready: spi_ready {
			gpios = <&gpio1 0 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
			label = "Trezor has data ready";
		};
	};

	spi_sync_out {
		compatible = "gpio-leds";
		spi_request: spi_request {
			gpios = <&gpio1 1 GPIO_ACTIVE_HIGH>;
			label = "NRF is requesting to send data to trezor";
		};
	};

	aliases {
		spi-ready = &spi_ready;
		spi-request = &spi_request;
		spi-master = &spi21;
	};
};
