#
# Copyright (c) 2020 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

mainmenu "Nordic Radio test sample"

config RADIO_TEST_USB
	bool "Radio Test shell over USB CDC ACM class"
	depends on SOC_NRF5340_CPUNET
	select EXPERIMENTAL
	help
	  Use USB instead of UART as the Radio Test shell transport.
	  For nRF5340 the USB from application core is used as communication interface.

config RADIO_TEST_POWER_CONTROL_AUTOMATIC
	bool "Automatic power control"
	depends on FEM
	default y
	help
	  Set SoC output power and front-end module gain to achieve Tx output power requested
	  by user. If the exact value cannot be achieved, power is set to closest value which does
	  not exceed the limits. If this option is disabled, user has to set SoC output power and
	  fem gain with separate commands.

config RADIO_TEST_RX_TIMEOUT
	int "RX packet reception timeout"
	default 10
	help
	  Specifies the time in seconds that the application waits for the first packet to be
	  received in RX mode when a specified number of packets are set to be received.
	  If the timeout is reached before the first packet is received, the radio will be disabled.

source "Kconfig.zephyr"
